<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>JWT Authentication Demo</h2>
    <a href="/secret" class="btn">Secret page</a>
  </div>
</header>


<%- include('partials/footer'); -%>